.section-text {
	padding: 0 50px;
	font-size: 14px;
	line-height: 1.6;
	text-align: justify;
}

.subtext:before {
	position: absolute;
	background-color: #daa520;
	content: "";
	height: 2px;
	right: 260px;
	top: 12px;
	width: 70px;
}

.subtext:after {
	position: absolute;
	background-color: #daa520;
	content: "";
	height: 2px;
	left: 260px;
	top: 12px;
	width: 70px;
}

ul,
li {
	list-style: none;
	padding: 0;
}

/* .experience .experience-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	background: linear-gradient(45deg, #209cff, #68e0cf);
	padding: 3rem 0;
} */

/* html {
	font-size: 12px;
} */

.experience {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 5% auto;
	font-size: 12px;
}
.experience__element {
	background: #fff;
	margin-bottom: 20px;
	position: relative;
	display: flex;
	margin: 20px 0;
	border-radius: 8px;
	box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.experience__element__title {
	font-size: 1rem;
	line-height: 1.4;
	/* text-transform: uppercase; */
	font-weight: 600;
	color: #644c2b;
	letter-spacing: 1.5px;
}
.experience__element__content {
	padding: 20px;
}
.experience__element__date {
	color: #644c2b;
	font-size: 12px;
	font-weight: 600;
	white-space: nowrap;
	flex-shrink: 1;
}
.experience__element__left {
	border-radius: 8px 0 0 8px;
	background: #f7be6d;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 40%;
	font-size: 2rem;
	color: #644c2b;
	padding: 20px;
}
.experience__element__lefti {
	position: absolute;
	top: 50%;
	left: -65px;
	font-size: 2.5rem;
	transform: translateY(-50%);
}
.experience__element__description {
	flex-basis: 60%;
}
.experience__element:not(:last-child):after {
	content: "";
	width: 2px;
	height: 100%;
	background: #644c2b;
	position: absolute;
	top: 71%;
	left: -3.5rem;
	/* z-index: -1; */
}
.experience__element:before {
	content: "";
	width: 4rem;
	height: 4rem;
	position: absolute;
	background: #f7be6d;
	border-radius: 100%;
	left: -5.5rem;
	top: 50%;
	transform: translateY(-50%);
	border: 2px solid #644c2b;
}

:root {
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);
	--varyDarkBlue: hsl(234, 12%, 34%);
	--grayishBlue: hsl(229, 6%, 66%);
	--veryLightGray: hsl(0, 0%, 98%);
	--weight1: 200;
	--weight2: 400;
	--weight3: 600;
}

.box p {
	color: var(--grayishBlue);
	font-size: 12px;
}

.box {
	border-radius: 5px;
	box-shadow: 0px 30px 40px -20px var(--grayishBlue);
	padding: 30px;
	position: relative;
	background-color: white;
	/* margin: 20px; */
}

.box img {
	float: right;
	position: absolute;
	bottom: -25px;
	height: 64px;
	right: 20px;
}

/* @media (max-width: 450px) {
	.box {
		height: 200px;
	}
} */

/* @media (max-width: 950px) and (min-width: 450px) {
	.box {
		text-align: center;
		height: 180px;
	}
} */

.cyan {
	border-top: 3px solid #aa7b39;
}
.red {
	border-top: 3px solid #aa7b39;
}
.blue {
	border-top: 3px solid #aa7b39;
}
.orange {
	border-top: 3px solid #aa7b39;
}

/* h2 {
	color: var(--varyDarkBlue);
	font-weight: var(--weight3);
} */
/* 
@media (min-width: 950px) {
	.row1-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.row2-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.box-down {
		position: relative;
		top: 150px;
	}
	.box {
		width: 20%;
	}
	.header p {
		width: 30%;
	}
} */

.card-margin {
	margin-bottom: 1.875rem;
}

.card {
	border: 0;
	box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
	-ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #ffffff;
	background-clip: border-box;
	border: 1px solid #e6e4e9;
	border-radius: 8px;
}

.card .card-header.no-border {
	border: 0;
}
.card .card-header {
	background: none;
	padding: 0 0.9375rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	min-height: 50px;
}
.card-header:first-child {
	border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.skills .skills-title-wrapper {
	display: flex;
	align-items: center;
}

.skills .skills-title-wrapper .skills-date-primary {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #edf1fc;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.skills .skills-title-wrapper .skills-date-primary .skills-date-day {
	color: #4e73e5;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1;
}

.skills .skills-title-wrapper .skills-date-primary .skills-date-month {
	color: #4e73e5;
	line-height: 1;
	font-size: 1rem;
	text-transform: uppercase;
}

.skills .skills-title-wrapper .skills-date-secondary {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #fcfcfd;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.skills .skills-title-wrapper .skills-date-secondary .skills-date-day {
	color: #dde1e9;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1;
}

.skills .skills-title-wrapper .skills-date-secondary .skills-date-month {
	color: #dde1e9;
	line-height: 1;
	font-size: 1rem;
	text-transform: uppercase;
}

.skills .skills-title-wrapper .skills-date-success {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #e8faf8;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.skills .skills-title-wrapper .skills-date-success .skills-date-day {
	color: #17d1bd;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1;
}

.skills .skills-title-wrapper .skills-date-success .skills-date-month {
	color: #17d1bd;
	line-height: 1;
	font-size: 1rem;
	text-transform: uppercase;
}

.skills .skills-title-wrapper .skills-date-info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #ebf7ff;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.skills .skills-title-wrapper .skills-date-info .skills-date-day {
	color: #36afff;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1;
}

.skills .skills-title-wrapper .skills-date-info .skills-date-month {
	color: #36afff;
	line-height: 1;
	font-size: 1rem;
	text-transform: uppercase;
}

.skills .skills-title-wrapper .skills-date-warning {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: floralwhite;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.skills .skills-title-wrapper .skills-date-warning .skills-date-day {
	color: #ffc868;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1;
}

.skills .skills-title-wrapper .skills-date-warning .skills-date-month {
	color: #ffc868;
	line-height: 1;
	font-size: 1rem;
	text-transform: uppercase;
}

.skills .skills-title-wrapper .skills-date-danger {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #feeeef;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.skills .skills-title-wrapper .skills-date-danger .skills-date-day {
	color: #f95062;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1;
}

.skills .skills-title-wrapper .skills-date-danger .skills-date-month {
	color: #f95062;
	line-height: 1;
	font-size: 1rem;
	text-transform: uppercase;
}

.skills .skills-title-wrapper .skills-date-light {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #fefeff;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.skills .skills-title-wrapper .skills-date-light .skills-date-day {
	color: #f7f9fa;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1;
}

.skills .skills-title-wrapper .skills-date-light .skills-date-month {
	color: #f7f9fa;
	line-height: 1;
	font-size: 1rem;
	text-transform: uppercase;
}

.skills .skills-title-wrapper .skills-date-dark {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #ebedee;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.skills .skills-title-wrapper .skills-date-dark .skills-date-day {
	color: #394856;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1;
}

.skills .skills-title-wrapper .skills-date-dark .skills-date-month {
	color: #394856;
	line-height: 1;
	font-size: 1rem;
	text-transform: uppercase;
}

.skills .skills-title-wrapper .skills-date-base {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #f0fafb;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.skills .skills-title-wrapper .skills-date-base .skills-date-day {
	color: #68cbd7;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1;
}

.skills .skills-title-wrapper .skills-date-base .skills-date-month {
	color: #68cbd7;
	line-height: 1;
	font-size: 1rem;
	text-transform: uppercase;
}

.skills .skills-title-wrapper .skills-meeting-info {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.skills .skills-title-wrapper .skills-meeting-info .skills-pro-title {
	color: #3c4142;
	font-size: 14px;
}

.skills .skills-title-wrapper .skills-meeting-info .skills-meeting-time {
	color: #b1bac5;
	font-size: 13px;
}

.skills .skills-meeting-points {
	font-weight: 400;
	font-size: 13px;
	margin-top: 0.5rem;
	padding: 0;
}

.skills .skills-meeting-points .skills-meeting-item {
	display: list-item;
	color: #727686;
	text-align: justify;
}

.skills .skills-meeting-points .skills-meeting-item span {
	text-align: justify;
}

.skills .skills-meeting-action {
	text-align: right;
}

.skills .skills-meeting-action a {
	text-transform: uppercase;
}

.get-in-touch {
	max-width: 800px;
	margin: 50px auto;
	margin-bottom: 25px;
	position: relative;
}
.get-in-touch .title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 3.2em;
	line-height: 48px;
	padding-bottom: 48px;
	color: #aa7b39;
	background: #aa7b39;
	/* background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
	background: -webkit-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
	background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important; */
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
	position: relative;
	margin: 32px 0;
}
.contact-form .input-text {
	display: block;
	width: 100%;
	height: 36px;
	border-width: 0 0 2px 0;
	border-color: #aa7b39;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
}
.contact-form .input-text:focus {
	outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
	-webkit-transform: translateY(-24px);
	transform: translateY(-24px);
}
.contact-form .label {
	position: absolute;
	left: 20px;
	bottom: 11px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: #aa7b39;
	cursor: text;
	transition: -webkit-transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
	display: inline-block;
	background-color: #aa7b39;
	/* background-image: linear-gradient(125deg, #a72879, #064497); */
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	padding: 8px 16px;
	border: none;
	width: 200px;
	cursor: pointer;
}
