#home,
#experience {
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgb(255, 255, 255, 1)), url("../../images/background1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#projects {
	background-color: #d2d2d22e !important;
}
