/* .main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	border: 1px solid var(--border-default-color);
} */

.main-header {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 2;
}

.main-header .logo img {
	height: 50px;
}

.main-header nav ul {
	list-style: none;
}

.main-header nav ul li {
	display: inline-block;
	margin-left: 20px;
}

.main-header nav ul li a {
	text-decoration: none;
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	color: var(--black);
}

.main-header nav ul li a.active {
	color: var(--primary);
	font-weight: bold;
}
