@import url("./fonts.css");
@import url("./header.css");
@import url("./variables.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fffdfa;
}

.breadcrumbs h1 {
	text-align: center;
}

section p {
	margin: 0;
	padding: 0;
}

/* main {
	display: flex;
	align-items: center;
	font-family: "Montserrat", sans-serif;
} */

section {
	min-height: calc(100vh - 85px);
}

.section-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* min-height: 500px; */

	/* Create the parallax scrolling effect */
	/* background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
}

.section-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: scroll;
}

.text-gold {
	color: var(--primary);
}

.btn-gold {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: #fff;
}
